mixin image-card(img_src, title)
  .hovereffect.mb-3
    img.img-fluid(src='http://placehold.it/1920x1080', alt='')
    .overlay
      .btn-group.btn-group-sm
        button.btn.btn-outline-secondary(type='button') Show
        button.btn.btn-outline-secondary(type='button') Edit
      .icon-links
        a(href='#')
          span.fa.fa-twitter.fa-lg.mr-1
        a(href='#')
          span.fa.fa-facebook.fa-lg.mx-1
        a(href='#')
          span.fa.fa-instagram.fa-lg.ml-1
    //- .card.h-100.shadow-sm
    //-   //- a(href='#')
    //-   //-   img.card-img-top(src= img_src, alt='')
    //-   img.card-img-top(src= img_src, alt='', style="cursor: pointer;", data-toggle='modal', data-target='#sp-image-modal')
    //-   .card-body
    //-     h4.card-title
    //-       a(href='#')= title
    //-     p.card-text Photo description bala bala bala bala.
    //-   .card-footer
    //-     small.text-muted &starf; &starf; &starf; &starf; &star;

