mixin image-card(img_src, title)
  .col-lg-4.col-md-6
    .hovereffect
      img.img-fluid(src='http://placehold.it/290x195', alt='')
      .overlay
        h2 Hover effect 8
        p.set1
          a(href='#')
            i.fa.fa-image
          a(href='#')
            i.fa.fa-edit
        hr
        hr
        p.set2
          a(href='#')
            i.fa.fa-instagram
          a(href='#')
            i.fa.fa-dribbble
    //- .card.h-100.shadow-sm
    //-   //- a(href='#')
    //-   //-   img.card-img-top(src= img_src, alt='')
    //-   img.card-img-top(src= img_src, alt='', style="cursor: pointer;", data-toggle='modal', data-target='#sp-image-modal')
    //-   .card-body
    //-     h4.card-title
    //-       a(href='#')= title
    //-     p.card-text Photo description bala bala bala bala.
    //-   .card-footer
    //-     small.text-muted &starf; &starf; &starf; &starf; &star;
