each photo in photos_gallery
  .hovereffect.mb-3
    img.img-fluid(src= photo['url'], data-id= photo['id'])
    .overlay
      .btn-group.btn-group-sm
        button.btn.btn-outline-secondary(type='button').image-show-button Show
        button.btn.btn-outline-secondary(type='button') Edit
      .icon-links
        a(href='#')
          span.fab.fa-twitter.fa-lg.mr-1
        a(href='#')
          span.fab.fa-facebook.fa-lg.mx-1
        a(href='#')
          span.fab.fa-instagram.fa-lg.ml-1