#sp-image-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='sp-image-modal-title', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-lg(role='document')
    .modal-content
      .modal-header
        h5#sp-image-modal-title.modal-title Photo title
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        img.card-img-top(src='http://placehold.it/1920x1080', alt='')
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes