.card.my-4
  h5.card-header Search
  .card-body
    .input-group.input-group-sm
      input.form-control(type='text', placeholder='Search for...')
      .input-group-append
        button#button-addon2.btn.btn-outline-primary(type='button') Search
