.card.my-4
  h5.card-header Top Places &nbsp;
    i.fa.fa-spinner.refresh-animate#top-places-spinner
  ul.list-group.list-group-flush#top-places-list
    //- li.list-group-item.d-flex.justify-content-between.align-items-center.py-1
    //-   a(href='#') England
    //-   span.badge.badge-primary.badge-pill 14k
    //- li.list-group-item.d-flex.justify-content-between.align-items-center.py-1
    //-   a(href='#') California
    //-   span.badge.badge-primary.badge-pill 5k
    //- li.list-group-item.d-flex.justify-content-between.align-items-center.py-1
    //-   a(href='#') Scotland
    //-   span.badge.badge-primary.badge-pill 3k
    //- li.list-group-item.d-flex.justify-content-between.align-items-center.py-1
    //-   a(href='#') District of Columbia
    //-   span.badge.badge-secondary.badge-pill 1k
    //- li.list-group-item.d-flex.justify-content-between.align-items-center.py-1
    //-   a(href='#') New Jersey
    //-   span.badge.badge-secondary.badge-pill 637
