extends layout.pug

block content
  .container
    h1.my-4
      small Welcome to super photo!
    p
    .row
      .col-lg-12
        h2.my-4 Our Team
      .col-lg-4.col-sm-6.text-center.mb-4
        img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
        h3
          small Job Title
        p
      .col-lg-4.col-sm-6.text-center.mb-4
        img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
        h3
          small Job Title
        p
      .col-lg-4.col-sm-6.text-center.mb-4
        img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
        h3
          small Job Title
        p
      .col-lg-4.col-sm-6.text-center.mb-4
        img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
        h3
          small Job Title
        p
      .col-lg-4.col-sm-6.text-center.mb-4
        img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
        h3
          small Job Title
        p
      .col-lg-4.col-sm-6.text-center.mb-4
        img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
        h3
          small Job Title
        p
  // /.container
