.hovereffect {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  /* text-align: center; */
  cursor: default;
}

.hovereffect .overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
  height: 3.25em;

  background-color: LightCyan;

  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

@media (min-width: 576px) {
  .hovereffect .overlay {
    height: 4.25em;
  }
}

.hovereffect img {
  /* max-width: 100%; */
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  -webkit-transform: translate(0, -10%);
  transform: translate(0, -10%);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}

.hovereffect div.icon-links a {
  color: #3c4a50;
  display: inline-block;
}

.hovereffect:hover div.icon-links a:hover,
.hovereffect:hover div.icon-links a:focus {
  color: #252d31;
}

.hovereffect .btn-group,
.hovereffect div.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate(0, 200%);
  transform: translate(0, 200%);
  /* visibility: visible; */
}

.hovereffect:hover .overlay,
.hovereffect:hover .btn-group,
.hovereffect:hover div.icon-links a {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hovereffect:hover .btn-group {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.hovereffect:hover div.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hovereffect:hover div.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.hovereffect:hover div.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}